<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>

    <div class="bg flex">
        <div class="box">
            <h2>Create New Account</h2>
            <form action="/register" method="post">
                <input class="block" type="text" name="username" placeholder="username">
                <input class="block" type="text" name="fullname" placeholder="fullname">
                <input class="block" type="email" name="email" placeholder="email">
                <input class="block" type="number" name="contact" placeholder="contact">

                <input class="block" type="password" name="password" placeholder="password">
                <a class="inline-block" href="/#">Forgot Password ?</a>
                <input type="submit" class="login block" value="Create New Account">
            </form>
            <p class="para">By continuing, you agree to Pinterest's Terms of Service; Opens a new tab and acknowledge
                you've read our Privacy Policy; Opens a new tab. Notice at collection; Opens a new tab.</p>
            <a href="/login" class="dont"> Login existing account</a>
        </div>
    </div>
</body>
</html>